.dropdown-container-2 {
  position: relative;
  display: inline-block;
}

.dropdown-content-2 {
  position: absolute;
  visibility: hidden; 
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  top: 3rem;
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s; 
}

.dropdown-container-2:hover .dropdown-content-2 {
  visibility: visible; 
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear; 
}

.dropdown-content-2 a {
  color: #333;
  min-width: 170px;
  padding: 10px 0;
  background-color: #f9f9f9;
  text-decoration: none;
  display: block;
}

.dropdown-content-2 a:hover {
  background-color: gainsboro;
  transition: 200ms;
  color: blue;
}


