
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	color: var(--secondaryColor);
}

nav a {
    gap: 1rem;
	color: var(--secondaryColor);
	text-decoration: none;
}



.container .nav-btn {
	padding: 2px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color:black;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.container div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 768px) {
	.container .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.container nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 50%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
		padding-left: 2rem;
		background-color: var(--primaryColor);
		transition: 0.5s;
		transform: translateX(100vh);
	}

	.container .responsive {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
		color: white;
	}
}