.wrapper_p {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}
.card {
  /* width: 280px; */
  height: 360px;
  padding: 2rem 1rem;
  background-color: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.card:hover img {
  /* transform: translateY(20px); */
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transition: 0.5s all;
}
.card:hover{
   transform: translateY(20px); 

}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover:before {
  opacity: 1;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card .info p{
    letter-spacing: 1;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}