@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* SLIDER */
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.clip_path {
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
}
.box:hover .icon-box {
    background-color: #4ebcdf;
    color: white;
  }
  .position_transform{
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }
  .bg-image{
    background-image: url(../public/assets/about/a.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    /* background-color:#0b163f; */
  }
